h1, h4{
    color: rgb(148, 40, 40);
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: double;
    
}

h3{
    color: brown;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{

   font-size: 25px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
}

li{

    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

h5{

    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}
img{
    display: block;
    margin: auto;
    width: 30%;
}


html{
    background-color: rgb(241, 235, 235);
}
 
h2{
    font-size: 60px;
    text-align: center;
}
